Generate year 2026 and year 2038 numbers from the previous calculations

In [40]:
import pandas as pd
import numpy as np

In [ ]:
# Test Calc
# 147*np.exp(r*2)

In [41]:
def exp_growth_calc(zero_pop, final_pop, final_pop_years, calc_years, fields):
    # http://www.coolmath.com/algebra/17-exponentials-logarithms/06-population-exponential-growth-01
    # r = np.log(244/147)/10
    # r = np.log(P/P0)/time
    return zero_pop[fields]*np.exp(np.log(final_pop[fields]/zero_pop[fields])/final_pop_years*calc_years)

In [42]:
fields = ['TOTHH', 'HHPOP', 'TOTPOP', 'EMPRES',
       'SFHH', 'MFHH', 'HH1', 'HH2', 'HH3', 'HH4', 'INC1', 'INC2', 'INC3',
       'INC4', 'MHHINC', 'TACRES', 'RESACRE', 'CIACRE', 'Z2SHARE',
       'TEMP', 'RETEMP', 'SEREMP', 'OTHEMP', 'AGEMP', 'MANEMP', 'WHOEMP',
       'AGE0004', 'AGE0519', 'AGE2044', 'AGE4564', 'AGE65', 'AGE0513',
       'AGE1417', 'AGE1824', 'ESENR', 'HSENR', 'COLLENR', 'COLLENRF',
       'COLLENRP']
# df_25[fields].head()

In [ ]:
# df_25 = pd.read_csv('output/bart_calcs_clean2025.csv')
# df_35 = pd.read_csv('output/bart_calcs_clean2035.csv')

# df_26 = df_25.copy()
# df_26[fields] = exp_growth_calc(df_25, df_35, 10, 1, fields)

# #Round all columns except Z2SHARE
# df_26[df_26.columns.difference(['Z2SHARE'])] = df_26[df_26.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
# df_26.to_csv('output/bart_calcs_clean2026.csv', index=False)

In [43]:
df_25 = pd.read_csv('output/bart_calcs_clean2025.csv')
df_30 = pd.read_csv('output/bart_calcs_clean2030.csv')

df_26 = df_25.copy()
df_26[fields] = exp_growth_calc(df_25, df_30, 5, 1, fields)

#Round all columns except Z2SHARE
df_26[df_26.columns.difference(['Z2SHARE'])] = df_26[df_26.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_26.to_csv('output/bart_calcs_clean2026.csv', na_rep=0, index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [44]:
df_35 = pd.read_csv('output/bart_calcs_clean2035.csv')
df_40 = pd.read_csv('output/bart_calcs_clean2040.csv')

df_38 = df_35.copy()
df_38[fields] = exp_growth_calc(df_35, df_40, 5, 3, fields)
df_38[df_38.columns.difference(['Z2SHARE'])] = df_38[df_38.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_38.to_csv('output/bart_calcs_clean2038.csv', na_rep=0, index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [45]:
df_15 = pd.read_csv('output/bart_calcs_clean2015.csv')
df_20 = pd.read_csv('output/bart_calcs_clean2020.csv')

df_18 = df_15.copy()
df_18[fields] = exp_growth_calc(df_15, df_20, 5, 3, fields)
df_18[df_18.columns.difference(['Z2SHARE'])] = df_18[df_18.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_18.to_csv('output/bart_calcs_clean2018.csv', na_rep=0, index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [46]:
df_15 = pd.read_csv('output/ccag_calcs_clean2015.csv')
df_20 = pd.read_csv('output/ccag_calcs_clean2020.csv')

df_17 = df_15.copy()
df_17[fields] = exp_growth_calc(df_15, df_20, 5, 2, fields)
df_17[df_17.columns.difference(['Z2SHARE'])] = df_17[df_17.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_17.to_csv('output/ccag_calcs_clean2017.csv', na_rep=0, index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [47]:
df_20 = pd.read_csv('output/ccag_calcs_clean2020.csv')
df_25 = pd.read_csv('output/ccag_calcs_clean2025.csv')

df_23 = df_20.copy()
df_23[fields] = exp_growth_calc(df_20, df_25, 5, 3, fields)
df_23[df_23.columns.difference(['Z2SHARE'])] = df_23[df_23.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_23.to_csv('output/ccag_calcs_clean2023.csv', na_rep=0, index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [48]:
df_35 = pd.read_csv('output/ccag_calcs_clean2035.csv')
df_40 = pd.read_csv('output/ccag_calcs_clean2040.csv')

df_43 = df_40.copy()
df_43[fields] = exp_growth_calc(df_35, df_40, 5, 8, fields)
df_43[df_43.columns.difference(['Z2SHARE'])] = df_43[df_43.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_43.to_csv('output/ccag_calcs_clean2043.csv', na_rep=0, index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [15]:
df_43.head()

,ZONE,DIST,SDIST,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFHH,MFHH,...,AGE4564,AGE65,AGE0513,AGE1417,AGE1824,ESENR,HSENR,COLLENR,COLLENRF,COLLENRP
0,1,10,10,3,590,1649,1651,870,394,195,...,413,277,155,68,93,0,0,0,0,0
1,2,10,10,3,165,348,348,194,67,98,...,95,68,24,8,28,0,0,0,0,0
2,3,10,10,3,825,1976,1979,876,270,555,...,403,588,202,89,136,13,13,0,0,0
3,4,10,10,3,284,602,602,335,109,175,...,165,120,49,17,47,322,0,0,0,0
4,5,10,10,3,1667,4712,4725,2158,904,764,...,1150,1211,532,208,344,206,0,0,0,0

In [16]:
df_40.head()

,ZONE,DIST,SDIST,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFHH,MFHH,...,AGE4564,AGE65,AGE0513,AGE1417,AGE1824,ESENR,HSENR,COLLENR,COLLENRF,COLLENRP
0,1,10,10,3,592.0,1641.0,1643.0,877.0,395.0,196.0,...,415.0,253.0,154.0,68.0,92.0,0,0,0,0,0
1,2,10,10,3,163.0,341.0,341.0,193.0,66.0,97.0,...,94.0,62.0,23.0,8.0,27.0,0,0,0,0,0
2,3,10,10,3,822.0,1953.0,1956.0,877.0,269.0,553.0,...,406.0,541.0,200.0,88.0,135.0,13,13,0,0,0
3,4,10,10,3,281.0,590.0,590.0,334.0,108.0,173.0,...,163.0,108.0,48.0,17.0,46.0,322,0,0,0,0
4,5,10,10,3,1671.0,4685.0,4698.0,2180.0,906.0,765.0,...,1162.0,1117.0,529.0,207.0,342.0,206,0,0,0,0

In [28]:
df_43['EMPRES'][2513]

13193

In [23]:
(df_43-df_40)['EMPRES'][2513]

-338.0

In [24]:
# (df_43-df_40)['EMPRES'].sort_values()

In [39]:
(df_40-df_35)['EMPRES'][2513]

-582.0

In [26]:
df_35['EMPRES'][2513]

14113.0

In [27]:
df_40['EMPRES'][2513]

13531.0

In [33]:
exp_growth_calc(df_35, df_40, 5, 8, fields)['EMPRES'][2513]-exp_growth_calc(df_35, df_40, 5, 7, fields)['EMPRES'][2513]

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

-111.59191342984013

In [34]:
exp_growth_calc(df_35, df_40, 5, 7, fields)['EMPRES'][2513]-exp_growth_calc(df_35, df_40, 5, 6, fields)['EMPRES'][2513]

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

-112.53577699780544

In [35]:
exp_growth_calc(df_35, df_40, 5, 6, fields)['EMPRES'][2513]-exp_growth_calc(df_35, df_40, 5, 5, fields)['EMPRES'][2513]

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

-113.48762392592107

In [36]:
exp_growth_calc(df_35, df_40, 5, 5, fields)['EMPRES'][2513]-exp_growth_calc(df_35, df_40, 5, 4, fields)['EMPRES'][2513]

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

-114.4475217388208

In [37]:
exp_growth_calc(df_35, df_40, 5, 4, fields)['EMPRES'][2513]-exp_growth_calc(df_35, df_40, 5, 3, fields)['EMPRES'][2513]

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

-115.41553853227015