Generate year 2026 and year 2038 numbers from the previous calculations

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Test Calc
# 147*np.exp(r*2)

In [3]:
def exp_growth_calc(zero_pop, final_pop, final_pop_years, calc_years, fields):
    # http://www.coolmath.com/algebra/17-exponentials-logarithms/06-population-exponential-growth-01
    # r = np.log(244/147)/10
    # r = np.log(P/P0)/time
    return zero_pop[fields]*np.exp(np.log(final_pop[fields]/zero_pop[fields])/final_pop_years*calc_years)

In [4]:
fields = ['TOTHH', 'HHPOP', 'TOTPOP', 'EMPRES',
       'SFHH', 'MFHH', 'HH1', 'HH2', 'HH3', 'HH4', 'INC1', 'INC2', 'INC3',
       'INC4', 'MHHINC', 'TACRES', 'RESACRE', 'CIACRE', 'Z2SHARE',
       'TEMP', 'RETEMP', 'SEREMP', 'OTHEMP', 'AGEMP', 'MANEMP', 'WHOEMP',
       'AGE0004', 'AGE0519', 'AGE2044', 'AGE4564', 'AGE65', 'AGE0513',
       'AGE1417', 'AGE1824', 'ESENR', 'HSENR', 'COLLENR', 'COLLENRF',
       'COLLENRP']
# df_25[fields].head()

In [5]:
df_25 = pd.read_csv('output/bart_calcs_clean2025.csv')
df_35 = pd.read_csv('output/bart_calcs_clean2035.csv')

df_26 = df_25.copy()
df_26[fields] = exp_growth_calc(df_25, df_35, 10, 1, fields)

#Round all columns except Z2SHARE
df_26[df_26.columns.difference(['Z2SHARE'])] = df_26[df_26.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_26.to_csv('output/bart_calcs_clean2026.csv', index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [6]:
df_35 = pd.read_csv('output/bart_calcs_clean2025.csv')
df_40 = pd.read_csv('output/bart_calcs_clean2035.csv')

df_38 = df_35.copy()
df_38[fields] = exp_growth_calc(df_35, df_40, 5, 3, fields)
df_38[df_38.columns.difference(['Z2SHARE'])] = df_38[df_38.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)
df_38.to_csv('output/bart_calcs_clean2038.csv', index=False)

/Users/vivek/anaconda3/envs/GIS/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

In [7]:
# good_geoms[good_geoms.columns.difference(['geom_1','geom_2'])]
# Make everything but Z2SHARE rounded integers.
df_38[df_38.columns.difference(['Z2SHARE'])] = df_38[df_38.columns.difference(['Z2SHARE'])].round(0).fillna(0.0).astype(int)

In [8]:
df_35.head()

,ZONE,DIST,SDIST,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFHH,MFHH,...,AGE65,AGE0513,AGE1417,AGE1824,ESENR,HSENR,COLLENR,COLLENRF,COLLENRP,TAZ1454
0,1701,1,1,1,50.0,79.0,88.0,39.0,1.0,49.0,...,18.0,0.0,0.0,0.0,0,0,0,0,0,1
1,1702,1,1,1,147.0,232.0,257.0,112.0,3.0,144.0,...,54.0,0.0,0.0,0.0,0,0,0,0,0,2
2,1703,1,1,1,283.0,449.0,498.0,215.0,7.0,277.0,...,106.0,0.0,0.0,0.0,0,0,0,0,0,3
3,1704,1,1,1,164.0,263.0,290.0,126.0,4.0,160.0,...,61.0,0.0,0.0,0.0,0,0,0,0,0,4
4,1705,1,1,1,675.0,1069.0,1189.0,515.0,15.0,660.0,...,251.0,0.0,0.0,0.0,0,0,62,62,0,5

In [9]:
df_38.head()

,ZONE,DIST,SDIST,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFHH,MFHH,...,AGE65,AGE0513,AGE1417,AGE1824,ESENR,HSENR,COLLENR,COLLENRF,COLLENRP,TAZ1454
0,1701,1,1,1,51,80,89,39,1,50,...,18,0,0,0,0,0,0,0,0,1
1,1702,1,1,1,199,314,349,152,4,195,...,73,0,0,0,0,0,0,0,0,2
2,1703,1,1,1,282,448,497,214,7,276,...,106,0,0,0,0,0,0,0,0,3
3,1704,1,1,1,203,325,359,156,5,198,...,75,0,0,0,0,0,0,0,0,4
4,1705,1,1,1,686,1086,1208,523,16,670,...,255,0,0,0,0,0,62,62,0,5

In [10]:
df_40.head()

,ZONE,DIST,SDIST,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFHH,MFHH,...,AGE65,AGE0513,AGE1417,AGE1824,ESENR,HSENR,COLLENR,COLLENRF,COLLENRP,TAZ1454
0,1701,1,1,1,51.0,81.0,89.0,39.0,1.0,50.0,...,18.0,0.0,0.0,0.0,0,0,0,0,0,1
1,1702,1,1,1,244.0,385.0,427.0,186.0,5.0,239.0,...,90.0,0.0,0.0,0.0,0,0,0,0,0,2
2,1703,1,1,1,282.0,447.0,496.0,214.0,7.0,276.0,...,106.0,0.0,0.0,0.0,0,0,0,0,0,3
3,1704,1,1,1,234.0,375.0,414.0,180.0,6.0,228.0,...,87.0,0.0,0.0,0.0,0,0,0,0,0,4
4,1705,1,1,1,693.0,1098.0,1221.0,529.0,16.0,677.0,...,258.0,0.0,0.0,0.0,0,0,62,62,0,5